html {
    box-sizing: border-box;
    background: #223440;
    font-family:'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.headline{
    top: 180px;
    color: white;
    position: relative;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}
input {
    width: 100%;
}
.header1{
    position: relative;
    z-index: 2;
    font-size: 35px;
    left: 0%;
    transition: 0.4s;
    opacity: 1;

}
.header2{
    position: relative;
    z-index: 2;
    font-size: 35px;
    transition: 0.4s;
    right: 0%;
    opacity: 1;
}
.heading{
    color: white;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    opacity: 0;
    transition: 0.5s;
}
.random{
    border-radius: 2px;
    background: #4195a4;
    color: white;
    font-size: 17px;
    height: 40px;
    width: 45px;
    left: 39%;
    right: 100px;
    position: relative;
    top: 210px;
    transition: 0.8s;
    z-index: 2;


    transition: 0.8s;
}
input.search {
    margin: 0;
    text-align: left;
    padding: 10px;
    padding-left: 1%;
    padding-right: 1%;
    outline:0;
    border: 2px solid #F7F7F7;
    width: 20%;
    left: 38%;
    right: 100px;
    position: relative;
    top: 210px;
    z-index: 2;
    border-radius: 5px;
    font-size: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
    transition: 0.8s;
}



.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /*perspective:20px;*/
}
.li-class {
    width: 100%;
    background:white;
    list-style: none;
    margin:11px;
    padding:15px;
    transition:background 0.2s;
    display:flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-decoration: none;
    border-left: solid #223440 7px;
}
.li-class:hover{
    border-left: solid 7px orange;
}

.suggestions li:nth-child(even) {
    background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}


span.population {
    font-size: 15px;
}

a {
    color:black;
    background:rgba(0,0,0,0.1);
    text-decoration: none;
}
body{
    box-sizing: border-box;
    background:#223440;
    font-size: 20px;
    font-weight: 200;
}
.search-form{
    margin:50px auto;
}

.title{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px
}
.description{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}



@media (min-width: 768px) {
    .col-md-offset-box {
        margin-left: 8.333333%;
    }
}
@media (min-width: 992px) {
    .col-md-offset-box {
        margin-left: 8.333333%;
    }
}
@media (min-width: 1200px) {
    .col-md-offset-box {
        margin-left: 8.333333%;
    }
}


a {
    text-decoration:none;
}
